@charset "UTF-8";


/* Tablet */
@media screen and (min-width: 768px) and (max-width:992px) {
    .login{
        width: 80vw;
        height: 250px;
    }
    .login > .imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    .login > .form{
        float: right;
        width: 70%;
    }
}


/* PC */
@media screen and (min-width : 992px) {
    .login {
        width: 950px;
        height: 270px;
    }
    .login > .imagem {
        float: right;
        width: 40%;
        height: 100%;
    }
    .login > .form{
        float: left;
        width: 60%;
    }
}